#player{
    position:absolute;
    left:0px;
    top:0px;
    transform: rotate('90deg');
}
.barrier{
    background-color: black;
    border:2px solid blue;
    position:absolute;
}
body{
    background-color: black;
    overflow: hidden;
}
#power{
    width:513px;
    height:570px;
    left:calc(50% - 250px);
    top:calc(50% - 280px);
    position:absolute;
}
.ghost{
    position:absolute;
}
td{
    padding:0px;
    width:11px;
    height:11px;
}
td.gone,td.eaten{
    visibility:hidden;
}
.hold{
    color:white;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}
#lives{
    position:absolute;
    left:calc(50% - 260px);
    top:calc(50% + 350px);
    display:inline;
}